@import "./variables";

@import "../extra/fonts";
@import "../extra/link";

@import "../components/buttons";
@import "../components/inputs";

*{
    box-sizing: border-box;
}

body{
    background-color: $background;
}

.container-login{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mt-2{
    margin-top: 10px;
}
.mt-5{
    margin-top: 40px
}

.mb-2{
    margin-bottom: 10px;
}

.mb-4{
    margin-bottom: 40px;
}

.-mt-3{
    margin-top: -25px;
}

.hidden{
    display: none;
}

.link{
    text-decoration: none;
    font-weight: 500;
    color: $white;
}

.large{
    width: 350px
}

.have-account{
    p{
        display: inline;
        margin-right: 5px;
    }
}

table{
    color: $white;
}